* {
    padding:0px;
    margin: 0px;
}


#image1 {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    
}


.bodyconnect {
    display: flex;
    align-items: center;
    flex-direction: column;
   

}
.bodyconnect {
    color: aliceblue;
    padding: auto;
}

.bodyconnect h1 {
    margin: 0%;
}

.bodyconnect p {
     margin: 0%;

}
