* {
    color: aliceblue;
}

.aboutpage img {
    width: 300px;
    height: 400px;
}


.aboutpage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:80px 80px ;
    align-items: center;
}

.aboutpage h1 {
    margin-bottom: 20px;
}
.documents {
    display: flex;
    justify-content: space-between;
    gap: 50px;

}

.skil h4 {
    font-size: 20px;
    outline: none;
    border: none;
    font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.skil hr {
    background: linear-gradient(45deg, #F44336, #7789cd,#c9bb52);
     outline: none;
    border: none;
    height: 8px;
    

}
